/* Form.module.css */

.form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #5e548e;
    border-radius: 3rem;
    padding: 20px 40px;
    
  }
  
  .field {
    display: flex;
    flex-direction: column;
  }
  
  .form input[type="text"],
  .form select {
    padding: 1rem;
    border: 0.3rem solid var(--white);
    color: var(--white);
    font-size: 1.8rem;
    font-weight: 400;
    background-color: transparent;
    border-radius: 1rem;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  .form input[type="text"]::placeholder,
  .form select::placeholder {
    color: var(--white);
  }
  
  .form input[type="text"]:focus,
  .form select:focus {
    border-color: #c9ada7;
  }
  
  .form select {
    color: var(--white);
  }
  
  .form select option {
    background-color: #5e548e;
    color: var(--white);
  }
  
  .submit {
    padding: 1rem;
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--white);
    background-color: #c9ada7;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit:hover {
    background-color: #9d8189;
  }
  